{% extends "base.html" %}

  {% block title %}
    More Info
  {% endblock title %}

  {% load static %}

  {% block navbar %}
    {% include "navbar.html" %}
  {% endblock navbar %}

    {% block content %}

      <div class="container text-center text-dark">
        <h1>Further Details of my Websites</h1>
        <p class="my-3">Click any of the following headings to see the full description of the website.</p>
        <hr class="my-4">
      </div>

      <div class="container">
        <div class="row">
          {% for blog in blogs %}
            <div class="col-md-6">
              <div class="card text-center mb-4">
                <div class="card-header bg-white">
                  <a href="{% url 'blog:detail' blog.id %}" class="text-secondary">
                    <h4>{{ blog.title }}</h4>
                  </a>
                </div>
                <p class="card-text text-secondary p-2">
                  {{ blog.blog|striptags|truncatechars:100 }}
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
        <hr class="my-4">
      </div>

    {% endblock content %}
