
  {% extends "base.html" %}

  {% block title %}
    Blog Detail Page
  {% endblock title %}

    {% load static %}

    {% block navbar %}
      {% include "navbar.html" %}
    {% endblock navbar %}

    {% block content %}
        <div class="container text-left">
            <br>
            <h1 class="text-secondary">{{ blog.title }}</h1>
            <br>
            <p>{{ blog.blog|safe }}</p>
            <hr class="my-4">
        </div>

        <div class="text-center">
          <a  href="{% url 'blog:all_blogs' %}" class="btn btn-warning my-4">
            Back to the More Info Screen
          </a>
        </div>

    {% endblock content %}
